{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container content-section">
        <h1 style="font-family: 'Bebas Neue', sans-serif; font-weight: 400; font-size: 65px; letter-spacing: 2px;" class="text-center">The page you are looking for does not exist.</h1>
        <br>
        <a href="{% url 'home' %}" class="btn btn-danger btn-rounded align-items-right" role="button" aria-pressed="true">Back to home <span class="glyphicon glyphicon-home" style="margin-right:5px; font-size: 12px;"></span></a>
        
    </div>
{% endblock %}