{% extends 'myapp/base.html' %}

{% block content %}
    {% if error %}
        <div class="container">
            <h1>{{ error }}</h1>
            <h1 style="font-family: 'Bebas Neue', cursive; font-weight: 400; font-size: 65px; letter-spacing: 2px;" class="text-center">Sneak 0</h1>
            <br><br><br>
        </div>
    {% else %}
        <br><br>
        <div class="container">
            <div class="content-section">
                
            <form method="post">{% csrf_token %} 
                <p>Are you sure you want to delete your rating for {{ rating.course.course_name }} ({{ rating.course }}) ?</p> 
                <div class="row">
                    <a href="{% url 'profile' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">No, take me back. </a>
                    <input type="submit" class="btn-btn-danger" value="Confirm"> 
                </div>
            </form> 
        </div>
        </div>
            <br><br><br><br>
    {% endif %}
{% endblock %}
