{% extends "myapp/base.html" %}
{% load static %}

{% block content %}
<div class="site-section container">
    <div class="row">
        <br>
        <div class="col-md-6">
        <div class="jumbotron bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(http://www.perkinseastman.com/dynamic/image/day/asset/liquid/1500x/92/777777/Center/3436653.jpg)">
          <div class="container">
            <h3 class="display-4" style="font-weight: bold;">Comprehensive list of Courses with ratings and Reviews!</h3>
            <p class="lead">Recourse aims to accumulate a large database of course reviews, and provide a platform to display them. </p>
            <hr style="border:1px solid black">
            <p>These reviews are writen by the students to help the incoming batches make smart choices about their courses.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'courses' %}" role="button">Find Courses</a>
            </div>
        <!-- /.container   -->
        </div>
        </div>
        
        
        <div class="col-md-6">
            <div class="jumbotron bg-cover text-light" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://www.ashoka.edu.in/static/images/media/2017/09/29/t1506677511_123_large.jpg)">
            <div class="container">
              <h3 class="display-4 " style="font-weight: bold; color: white;">Professor Performances marked over semesters.</h3>
              <p class="lead" style="color: bisque;">Not sure about which professor to pick? Dont worry we got you covered. </p>
              <hr class="my-4">
              <p style="color: thistle;">Professor ratings are averaged out over their course ratings. They are highly indicative of how well a professor is percieved by the students.</p>
              <a class="btn btn-primary btn-lg" href="{% url 'professors' %}  " role="button">Find Professors</a>
          </div>
        <!-- /.container   -->
        </div>
          
      </div>
        
      </div>
        
</div>
<br>

<!--Jumbotrons End Here-->

<div style="background-color:firebrick; padding-bottom: 30px;">
  <br>
  <br>  
<div class="container newbox" style="background-color:firebrick;">
<div class="row newbox">
  <div class="col-xs-4 " style="text-align: center; background-color:firebrick;">
    <i class="fa fa-book fa-2x"></i>
    <p class="count-text " style="color: white;">Courses Rated:</p>
    <h2 class="timer count-title count-number count" data-to="300" data-speed="1500" style="color: white;">{{ courses_rated }}</h2>
     
  </div>

  <div class="col-xs-4" style="text-align: center; background-color: firebrick;">
    <i class="fa fa-star fa-2x"></i>
    <p class="count-text " style="color: white;">Total Ratings:</p>
    <h2 class="timer count-title count-number count" data-to="1700" data-speed="1500" style="color: white;">{{ total_ratings }}</h2>
    
  </div>

  <div class="col-xs-4" style="text-align: center; background-color: firebrick;">
    <i class="fa fa-users fa-2x"></i>
    <p class="count-text" style="color: white;">Total Users:</p>
    <h2 class="timer count-title count-number count" data-to="11900" data-speed="1500" style="color: white;">{{ total_users }}</h2>
    
  </div>


</div>

</div>
</div>


  <div style="background-image: url({% static 'images/class.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: center; ">
    <div style= "background:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3))">
      <br><br>
      <div class="container" style="color: black;">
        <br><br>
        <h1 style="font-family: 'Bebas Neue', cursive; font-weight: 400; font-size: 65px; letter-spacing: 2px;" class="text-center">How our ratings work</h1>
        <br>  
        <br>
        <h2 style="font-family: 'Varela', sans-serif; font-weight:500;">Each course is given three metrics: </h2>
        <ol style="font-family: 'Montserrat', sans-serif; list-style-type: lower-roman; font-size: large; color: black; font-weight: bold;" >
          <li> Rating: Overall rating of the course (out of 5). </li>
          <li> Difficulty: The difficulty of the course in terms of material/exams and scoring (out of 5).</li>
          <li> Retake %: The percentage of students who would retake the course. </li>
        </ol>
        <br>
        <br>
        <h2 style="font-family: 'Varela', sans-serif; font-weight:500;">Professor ratings are averages of all the courses they offer.</h2>
        <br><br>
        <h4 style="font-weight: bold;" class="text-center"> Ratings can only be submitted by users with an Ashoka email ID.</h4>
        <h5 style="color:black;" class="text-center">(Please be mindful of the language you use. NSFW reviews will be removed.)</h5>
        <br><br><br>
      </div>
    </div>
  </div>
{% endblock %}
</html>