{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
{% block content %}

{% if previous %}
    <div class="container">
        <h1>Woah there, cowboy!</h1>
        <br>
        <p>Looks like you've already rated this course.</p>
        <div class="container content-section">
            {% for p in previous %}
                Rating: 
                {% if p.rating == 1 %} 
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                {% endif %}

                {% if p.rating == 2 %} 
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                {% endif %}

                {% if p.rating == 3 %} 
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                {% endif %}
                
                {% if p.rating == 4 %} 
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star-empty" style="margin-right:5px; font-size: 18px;"></span>
                {% endif %}

                {% if p.rating == 5 %} 
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                    <span class="glyphicon glyphicon-star" style="margin-right:5px; font-size: 18px;"></span>
                {% endif %} <br>
                <br>
                {% if p.review %}
                    <blockquote class="blockquote">
                        <h4 class="card-subtitle mb-2 text-muted">{{p.review|linebreaks}}</h4>
                    </blockquote>
                {% else %}
                    <blockquote class="blockquote">
                        <h4 class="card-subtitle mb-2 text-muted">No review</h4>
                    </blockquote>
                {% endif %}
                <h4>Difficulty: {{ p.difficulty}} <small>/5</small></h4>
                <br> 
                <small class="text-secondary" style="color: gray;">{{ p.date_posted }}</small>
                <br> <br>
                <a href="{% url 'delete-rating' p.id %}" class="btn btn-danger btn-rounded align-items-right" role="button" aria-pressed="true">Delete Rating <span class="glyphicon glyphicon-trash" style="margin-right:5px; font-size: 12px;"></span></a>
                <br> <br>
                <p>Or you can <a href="{% url 'profile'%}">view all your ratings here</a>.</p>
                {% endfor %}
        </div>
        </div>
        <br><br><br><br><br>

    </div>
{% else %}
    <div class="container-fluid" style="background-color: rgb(255, 255, 224);">
        <div class="container">
        <div class="row">
            <div class="col-lg-3" >

            </div>

            <div class="col-lg-6" style="background-color: rgb(255, 255, 224) ; padding-bottom: 20px;">
            <div  style="background-color: rgb(255, 255, 224);">  <br> </div>
                
                <form method = "POST" style="background-color: white; border: 0.5px rgb(66, 66, 66) solid; border-radius: 25px;" >
                    {% csrf_token %}
                    
                        <h2 class="text-center with-line" >Rate {{ course.course_name }}</h2>
                        <br>  
                            <div class="row">
                                <div class="col-lg-1 col-xs-1">

                                </div>
                                <div class="col-lg-9 col-xs-9">
                                    <ul style="list-style:none; align-items: center;">
                                        {{form.rating.label}}: {{form.rating}}
                                        <br><br><br>
                                        {{form.difficulty.label}}: {{form.difficulty}}
                                        <br><br><br>
                                        {{form.grade.label}}: {{form.grade}}
                                        <br><br><br><br>
                                        Would you take this course again? &nbsp;   {{form.take_again}}
                                        <br><br><br>    
                                        {{form.review}}
                                        <br><br><br>
                                        Review anonymously? &nbsp;     {{form.anonymous}}
                                        <br>
                                    </ul> 
                                </div>
                                <div class="col-lg-2 col-xs-2">

                                </div>
                            </div>                          
                            <br><br>
                    </fieldset>
                    <div class="form-group hidden-xs" style="margin-left: 80%;">
                        <button class="btn btn-primary btn-outline-info " type="submit">Submit</button>
                    </div>
                    <div class="form-group visible-xs" style="margin-left: 60%; padding-bottom: 30px;">
                            <button class="btn btn-primary btn-outline-info " type="submit">Submit</button>
                        
                    </div>
                    
                </form>        
            </div>
        </div>
        </div>
        </div>  
            
        
    </div>
    <br>
    <br>
    <br>
{% endif %}

{% endblock %}